<!DOCTYPE html>
<html ng-app="loginApp" ng-controller="loginController">

<head>
	<title>Sistema de Encuestas</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="dist/css/login.css">
	<link rel="stylesheet" type="text/css" href="dist/css/skwave.css">
	<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
	<script src="sweetalert-master/dist/sweetalert-dev.js"></script>
	<link rel="stylesheet" href="sweetalert-master/dist/sweetalert.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script src="loginAdminApp.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="wrap">
					<p class="form-title">Log In - Administrador de Sucursal</p>
					<form id="userForm" class="login">
						<input type="text" placeholder="email" ng-model="email">
						<input type="password" placeholder="Password" ng-model="password"/>
						<span type="button" class="btn btn-success btn-sm col-md-12" ng-click="Login()"> Ingresar </span>
					</form>
					{{datin}}
				</div>
			</div>
		</div>
	</div>
</body>
</html>
